<mat-card *ngIf="!showEditCommentContainer">
  <mat-card-header>
    <img mat-card-avatar src="{{comment.author.avatar}}" alt="Avatar">
    <mat-card-title>{{comment.author.userName}} </mat-card-title>
    <div>{{comment.createdAt | date:'d/M/yy, h:mm a'}}</div>
  </mat-card-header>
  <mat-card-content>
    <p>{{comment.body}}</p>
  </mat-card-content>
  <mat-card-actions class="actions-buttons" align="end">
    <button mat-icon-button color="primary" (click)="likeComment()" (mouseenter)="showPopoverForCommnetLikes()"
      (mouseleave)="hidePopoverForCommnetlikes()">
      <mat-icon matBadge="{{getLikesCount()}}" matBadgeColor="accent" matBadgeSize="medium"
        [matBadgeHidden]="getLikesCount() === 0" aria-label="Like">favorite</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="dislikeComment()" (mouseenter)="showPopoverForCommnetDislikes()"
      (mouseleave)="hidePopoverForCommnetDislikes()">
      <mat-icon matBadge="{{getDislikesCount()}}" matBadgeColor="accent" matBadgeSize="medium"
        [matBadgeHidden]="getDislikesCount() === 0" aria-label="Dislike">thumb_down_alt</mat-icon>
    </button>
    <button mat-icon-button color="accent">
      <mat-icon aria-label="Share">share</mat-icon>
    </button>
    <button *ngIf="comment.author.id == currentUser?.id" mat-icon-button color="primary" matTooltip="Edit it"
      (click)="toggleEditCommentContainer()">
      <mat-icon matBadgeColor="accent" matBadgeSize="medium" aria-label="Edit">edit</mat-icon>
    </button>
    <button *ngIf="comment.author.id == currentUser?.id" mat-icon-button color="primary" matTooltip="Delete it"
      (click)="deleteComment()">
      <mat-icon matBadgeColor="accent" matBadgeSize="medium" aria-label="Delete">delete</mat-icon>
    </button>
  </mat-card-actions>

</mat-card>
<div class="edit-comment" *ngIf="comment.author.id == currentUser?.id && showEditCommentContainer">
  <mat-icon aria-label="Send" (click)="toggleEditCommentContainer()">close</mat-icon>
  <mat-form-field>
    <textarea [(ngModel)]="comment.body" matInput placeholder="Comment it..."></textarea>
  </mat-form-field>
  <button mat-icon-button color="primary" matTooltip="Send" (click)="editComment()">
    <mat-icon aria-label="Send">send</mat-icon>
  </button>
</div>
<mat-card class="popover" *ngIf="popoverIsVisibleForLikes && likes?.length != 0">
  <mat-card-header class="like-info" *ngFor="let like of likes">
    <img mat-card-avatar src="{{like.user.avatar}}" alt="avatar" />
    <mat-card-title>{{like.user.userName}}</mat-card-title>
  </mat-card-header>
</mat-card>

<mat-card class="popover" *ngIf="popoverIsVisibleForDislikes && dislikes?.length != 0">
  <mat-card-header class="like-info" *ngFor="let dislike of dislikes">
    <img mat-card-avatar src="{{dislike.user.avatar}}" alt="avatar" />
    <mat-card-title>{{dislike.user.userName}}</mat-card-title>
  </mat-card-header>
</mat-card>