<mat-card [ngClass]="{'post-with-comments': showComments}" *ngIf="!showEditPostContainer">
  <mat-card-header>
    <img mat-card-avatar src="{{post.author.avatar}}" alt="Avatar">
    <mat-card-title>{{post.author.userName}}</mat-card-title>
    <div class="date">{{post.createdAt | date:'d/M/yy, h:mm a'}}</div>
  </mat-card-header>
  <img mat-card-image *ngIf="post.previewImage" mat-card-image src="{{post.previewImage}}" alt="Photo">
  <mat-card-content>
    <p>{{post.body}}</p>
  </mat-card-content>
  <mat-card-actions class="actions-buttons" align="end">
    <button mat-icon-button color="primary" (click)="likePost()" (mouseenter)="showPopoverForCommnetLikes()"
      (mouseleave)="hidePopoverForCommnetlikes()">
      <mat-icon matBadge="{{getLikesCount()}}" matBadgeColor="accent" matBadgeSize="medium"
        [matBadgeHidden]="getLikesCount() === 0" aria-label="Like">favorite</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="dislikePost()" (mouseenter)="showPopoverForCommnetDislikes()"
      (mouseleave)="hidePopoverForCommnetDislikes()">
      <mat-icon matBadge="{{getDislikesCount()}}" matBadgeColor="accent" matBadgeSize="medium"
        [matBadgeHidden]="getDislikesCount() === 0" aria-label="Dislike">thumb_down_alt</mat-icon>
    </button>
    <button mat-icon-button color="accent">
      <mat-icon aria-label="Share" (click)="openShareDialog()">share</mat-icon>
    </button>
    <button mat-icon-button color="basic" (click)=" toggleComments()">
      <mat-icon matBadge="{{post.comments.length}}" matBadgeColor="warn" matBadgeSize="medium"
        [matBadgeHidden]="post.comments.length === 0" aria-label="Add comment">comment</mat-icon>
    </button>
    <button *ngIf="post.author.id == currentUser?.id" mat-icon-button color="primary" matTooltip="Edit it"
      (click)="toggleEditPostContainer()">
      <mat-icon matBadgeColor="accent" matBadgeSize="medium" aria-label="Edit">edit</mat-icon>
    </button>
    <button *ngIf="post.author.id == currentUser?.id" mat-icon-button color="primary" matTooltip="Delete it"
      (click)="deletePost()">
      <mat-icon matBadgeColor="accent" matBadgeSize="medium" aria-label="Delete">delete</mat-icon>
    </button>
  </mat-card-actions>
  <mat-card class="popover popover-likes" *ngIf="popoverIsVisibleForLikes && likes.length != 0">
    <mat-card-header class="like-info" *ngFor="let like of likes">
      <img mat-card-avatar src="{{like.user.avatar}}" alt="avatar" />
      <mat-card-title>{{like.user.userName}}</mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-card class="popover popover-dislikes" *ngIf="popoverIsVisibleForDislikes && dislikes.length != 0">
    <mat-card-header class="like-info" *ngFor="let dislike of dislikes">
      <img mat-card-avatar src="{{dislike.user.avatar}}" alt="avatar" />
      <mat-card-title>{{dislike.user.userName}}</mat-card-title>
    </mat-card-header>
  </mat-card>
  <div *ngIf="showComments">
    <mat-divider></mat-divider>
    <div class="new-comment">
      <mat-form-field>
        <textarea [(ngModel)]="newComment.body" matInput placeholder="Comment it..."></textarea>
      </mat-form-field>
      <button mat-icon-button color="primary" matTooltip="Send" (click)="sendComment()">
        <mat-icon aria-label="Send">send</mat-icon>
      </button>
    </div>
    <div *ngIf="post.comments.length > 0" class="comments-count">
      Just {{post.comments.length}} in all
    </div>
    <app-comment *ngFor="let _comment of post.comments" [comment]="_comment"></app-comment>
  </div>
</mat-card>
<mat-card class="post-create-container" *ngIf="post.author.id == currentUser?.id && showEditPostContainer">
  <mat-icon aria-label="Send" (click)="toggleEditPostContainer()">close</mat-icon>
  <div *ngIf="loading" class="mat-spinner-wrapper">
    <mat-spinner></mat-spinner>
  </div>
  <mat-card-content>
    <mat-form-field>
      <textarea [(ngModel)]="post.body" matInput placeholder="Write something..."></textarea>
    </mat-form-field>
    <div class="image-container">
      <mat-icon aria-label="Send" (click)="removeImage()">close</mat-icon>
      <img mat-card-image class="post-image" *ngIf="imageUrl" mat-card-image src="{{imageUrl}}" alt="Photo">
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <input hidden #file accept="image/*" type="file" (change)="loadImage($event.target)">
    <button mat-icon-button color="accent" (click)="file.click()">
      <mat-icon aria-label="Choose an image">image</mat-icon>
    </button>
    <button mat-icon-button color="primary" matTooltip="Post it" (click)="editPost(post.id)">
      <mat-icon aria-label="Send">send</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>